include mixins/mixin
include mixins/sections/sections
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="description" content="Food & Drink")
		title Food &#38; Drink
		link(rel='icon' href='./favicon.svg' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/swiper.css" media="print" onload="this.media='all'")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css" media="print" onload="this.media='all'")
		link(rel="stylesheet" type="text/css" href="static/css/critical.css")
	body
		+search
		+hero
		
		main.content
			+new
			+review
			+amazing
			+events
			+contactUs
			+subscrible

		footer.footer#links
			+footer
		+modal

		script(src="static/js/header.js")
		script(src="static/js/adapt.js")
		script(src="static/js/sliders.js" type="module")