mixin amazing()
	section.amazing#offers
		.wrapper
			h2.title.section__title.amazing__title Товар <span class="title_decor">дня</span>
			.amazing__slider
				.swiper-wrapper
					a.amazing__slide.swiper-slide.js-modal-button(href="#")
						.amazing__bg
							+webp('amazing__pic', 'amazing-1', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price ₽1500
					a.amazing__slide.swiper-slide.js-modal-button(href="#")
						.amazing__bg
							+webp('amazing__pic', 'amazing-3', 'png', 'amazing')
						.amazing__text
							p.amazing__name YARRA YERING DRY RED
							p.amazing__price ₽1400
					a.amazing__slide.swiper-slide.js-modal-button(href="#")
						.amazing__bg
							+webp('amazing__pic', 'amazing-2', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price ₽1580
					a.amazing__slide.swiper-slide.js-modal-button(href="#")
						.amazing__bg
							+webp('amazing__pic', 'amazing-1', 'png', 'amazing')
						.amazing__text
							p.amazing__name YARRA YERING PINOT NOIR
							p.amazing__price ₽2150
					a.amazing__slide.swiper-slide.js-modal-button(href="#")
						.amazing__bg
							+webp('amazing__pic', 'amazing-3', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price ₽1910
				.dots
