mixin amazing()
	section.amazing#offers
		.wrapper
			h2.title.section__title.amazing__title Amazing <span class="title_decor">offer</span>
			.amazing__slider
				.swiper-wrapper
					.amazing__slide.swiper-slide
						.amazing__bg
							+webp('amazing__pic', 'amazing-1', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price $150.00
					.amazing__slide.swiper-slide
						.amazing__bg
							+webp('amazing__pic', 'amazing-3', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price $150.00
					.amazing__slide.swiper-slide
						.amazing__bg
							+webp('amazing__pic', 'amazing-2', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price $150.00
					.amazing__slide.swiper-slide
						.amazing__bg
							+webp('amazing__pic', 'amazing-1', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price $150.00
					.amazing__slide.swiper-slide
						.amazing__bg
							+webp('amazing__pic', 'amazing-3', 'png', 'amazing')
						.amazing__text
							p.amazing__name pope valley winery
							p.amazing__price $150.00
				.dots
