mixin contactUs()
	section.contacts#contacts
		.wrapper
			.contacts__body
				h2.title.section__title.contacts__title Contacs <span class="title_decor">us</span>
				.contacts__content
					.contacts__text.contacts__item
						p.contacts__descr.section__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nunc a in morbi. Ac, aenean iaculis purus turpis est sollicitudin blandit ut leo.Lorem ipsum dolor sit amet, consectetur 
						.contacts__list.contact
							a.contact.js-modal-button(href="tel:+012-3254-6987")
								.contact__body
									+svgTrue('Call', 'contact__icon')
									span.contact__text +012-3254-6987
							a.contact.js-modal-button(href="mailto:Food&drink@gmail.com")
								.contact__body
									+svgTrue('Message', 'contact__icon')
									span.contact__text Food&amp;drink@gmail.com
							a.contact.js-modal-button(href="#")
								.contact__body
									+svgTrue('Location', 'contact__icon')
									span.contact__text Brahmanbaira, Dhaka, Bangladesh
						.contacts__links
							a.contacts__link.js-modal-button(href="#")
								span.hidden gmail link
								+webp('contacts__icon', 'google', 'png', 'google')
							a.contacts__link.js-modal-button(href="#")
								span.hidden twitter link
								+webp('contacts__icon', 'twitter', 'png', 'twitter')
							a.contacts__link.js-modal-button(href="#")
								span.hidden linked in link
								+webp('contacts__icon', 'linkedin', 'png', 'linked in')
							a.contacts__link.js-modal-button(href="#")
								span.hidden facebook link
								+webp('contacts__icon', 'facebook', 'png', 'facebook')


								 
					.contacts__form.contacts__item
						form.formUs
							.formUs__body
								.formUs__field
									input.formUs__input#formUs_name(type="text" required)
									label.formUs__label(for="formUs_name") Name
								.formUs__field
									input.formUs__input#formUs_email(type="email" required)
									label.formUs__label(for="formUs_email") Email
								.formUs__field
									input.formUs__input#formUs_phone(type="tel" required)
									label.formUs__label(for="formUs_phone") Phone
								.formUs__field.formUs__field_textarea
									textarea.formUs__input.formUs__textarea#formUs_message
									label.formUs__label(for="formUs_message") Message
								.formUs__submit
									button.button.button_primary.formUs__button.js-modal-button(type="submit") Send
