mixin events()
	section.events
		.wrapper
			.events__body
				h2.title.section__title.events__title Featured <span class="title_decor">Events</span>
				.events__slider
					.event
						.event__decor
							+webp('event__pic', 'featured', 'png', 'events photo')
						.event__content
							.event__header
								span.event__title 10th Annual Barrel Tasting
								span.event__date 15 Sept
							p.section__descr.event__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nunc a in morbi. Ac, aenean iaculis purus turpis est sollicitudin blandit ut leo.
							a.link.link_bordered.event__link(href="#") read more 
