mixin events()
	section.events#events
		.wrapper
			.events__body
				h2.title.section__title.events__title Ближайшие <span class="title_decor">события</span>
				.events__slider
					.swiper-wrapper
						.event.swiper-slide
							.event__decor
								+webp('event__pic', 'featured', 'png', 'events photo')
							.event__content
								.event__header
									span.event__title Десятая ежегодная дегустация
									span.event__date 19 мая
								p.section__descr.event__descr Это одно из знаковых мероприятий в области виноделия, редкая возможность попробовать коллекционные вина различных марок и увидеть, как они развиваются. .
								a.link.link_bordered.event__link.js-modal-button(href="#") Подробнее 
						.event.swiper-slide
							.event__decor
								+webp('event__pic', 'sob-1', 'png', 'events photo')
							.event__content
								.event__header
									span.event__title Вечерний интенсивный курс
									span.event__date 5 октября
								p.section__descr.event__descr Базовый курс для начинающих, который знакомит с основной винной терминологией и понятиями, а также главными мировыми винодельческими регионами.
								a.link.link_bordered.event__link.js-modal-button(href="#") Подробнее
						.event.swiper-slide
							.event__decor
								+webp('event__pic', 'sob-2', 'png', 'events photo')
							.event__content
								.event__header
									span.event__title  Лекция-дегустация «Игра контрастов»
									span.event__date 27 ноября
								p.section__descr.event__descr Разбираемся в самых популярных красных сортах винограда, ключевыми особенностями сортов и технологий производства,!
								a.link.link_bordered.event__link.js-modal-button(href="#") Подробнее
						.event.swiper-slide
							.event__decor
								+webp('event__pic', 'sob-4', 'png', 'events photo')
							.event__content
								.event__header
									span.event__title Вино за 3 дня
									span.event__date 4 декабря
								p.section__descr.event__descr Уникальный модульный курс, состоящий из 3 тематических лекций-дегустаций, посвященных изучению вина: дегустационный опыт и знания, преподнесенные по оригинальной методике.
								a.link.link_bordered.event__link.js-modal-button(href="#") Подробнее
					.dots
