mixin hero()
	.hero
		.hero__top
			.wrapper
				header.header
					.header__top
						span.header__freeship(data-da="header__nav, 815, last") Бесплатная доставка по РФ!
						.header__logo
							a.logo(href="./")
								span.hidden Logo "Food &amp; Drinks" 
								.logo__bg
									+webp('logo__pic', 'logo', 'png', 'Food & Drinks')
						.header__right
							.header__links
								.header__links_adapt(data-da="nav, 550, last")
									a.header__link.link.js-modal-button(href="#") Войти
									a.header__link.link.js-modal-button(href="#") Регистрация
									a.header__link.link.header__wishlist.js-modal-button(href="#") Корзина <span class="header__wishlist_count">(0)</span>
								a.header__link.link.header__link_iconed#search(href="#")
									span.hidden Search
									+svgTrue('Search', 'header__link-icon')
								a.header__link.link.header__link_iconed.js-modal-button(href="#")
									span.hidden Bag
									+svgTrue('Bag', 'header__link-icon')
							.header__burger
								.burger
									span.burger__decor
					.header__nav
						.nav
							ul.nav__list
								li.nav__item
									a.nav__link.link.link_bordered(href="./") Главная
								li.nav__item
									a.nav__link.link.link_bordered(href="#new") Новинки
								li.nav__item
									a.nav__link.link.link_bordered(href="#reviews") Отзывы
								li.nav__item
									a.nav__link.link.link_bordered(href="#offers") Предложения
								li.nav__item
									a.nav__link.link.link_bordered(href="#events") Мероприятия
								li.nav__item
									a.nav__link.link.link_bordered(href="#contacts") Связаться
								li.nav__item
									a.nav__link.link.link_bordered(href="#subscrible") Подписка
								li.nav__item
									a.nav__link.link.link_bordered(href="#links") Контакты
		.hero__body
			.wrapper
				.hero__content
					p.hero__subtitle Опыт поколений
					h1.hero__title.title В каждой <span class="title_decor">бутылке</span>
					p.hero__descr Испытайте настоящую «американскую мечту» в Winehouse и посетите первый дегустационный зал в России, основанный бывшим европейским работником виноградника Mirgant и его семьей.
					a.hero__link.link.link_bordered(href="#").js-modal-button ПОДРОБНЕЕ
		.hero__bg
			+webp('hero__pic', 'hero', 'png', 'hero background image')
		