mixin new()
	section.new#new
		.wrapper
			.new__wrap
				.new__slider
					.swiper-wrapper
						.new__body.swiper-slide
							.new__text.new__item
								.new__txt
									h2.new__preview New Wines
									.new__name
										h2.title.section__title.title_decor.new__title Merlot
										p.section__subtitle.new__subtitle Winehouse Vineyard
									p.section__descr.new__descr Merlot is loved for its boisterous black cherry flavors, supple tannins, and chocolatey finish. On the high end, it’s often mistaken with Cabernet Sauvignon.
								.new__buttons.buttons
									a.button.button_primary.buttons__item.new__button.js-modal-button(href="#") Learn more
									a.button.button_secondary.buttons__item.new__button.js-modal-button(href="#") View more  
							.new__decor.decor.new__item
								.decor__bg
									.decor__square
										span.new__slider-prev.new__slider-button
											span.new__slider_txt Prev
										span.new__slider-next.new__slider-button
											span.new__slider_txt Next
									.decor__round
								.decor__bottle
									+webp('decor__pic', 'merlot', 'png', 'bottle')
						.new__body.swiper-slide
							.new__text.new__item
								.new__txt
									h2.new__preview New Wines
									.new__name
										h2.title.section__title.title_decor.new__title Chateau
										p.section__subtitle.new__subtitle Lallier Laborie
									p.section__descr.new__descr This wine is loved for its boisterous black cherry flavors, supple tannins, and chocolatey finish. On the high end, it’s often mistaken with Cabernet Sauvignon.
								.new__buttons.buttons
									a.button.button_primary.buttons__item.new__button.js-modal-button(href="#") Learn more
									a.button.button_secondary.buttons__item.new__button.js-modal-button(href="#") View more  
							.new__decor.decor.new__item
								.decor__bg
									.decor__square
										span.new__slider-prev.new__slider-button
											span.new__slider_txt Prev
										span.new__slider-next.new__slider-button
											span.new__slider_txt Next
									.decor__round

								.decor__bottle
									+webp('decor__pic', 'bottle-1', 'png', 'bottle')



