mixin review()
	section.reviews#reviews
		.reviews__bg
			+webpResp('reviews__pic', 'testi-bg', 'png', 'review background')
		

		.wrapper
			h2.title.section__title.reviews__title Отзывы <span class="title_decor">Клиентов</span>

			.reviews__wrap
				.reviews__slide
					.swiper-wrapper
						.reviews__body.swiper-slide
							.reviews__slider
								.review
									.review__photo
										+webp('review__avatar', 'person', 'jpg', 'reviewer')
									span.review__name Сергей Петров
									p.review__text Очень хороший магазин с отличным выбором! Остался доволен его посещением, особенно работой консультантов магазина, которые были предельно добры, и к моему (приятному) удивлению за вино другого года, отличного от выбранного мной, сразу предложили скидку! Такое впервые встречаю, отличная работа с клиентом! 
						.reviews__body.swiper-slide
							.reviews__slider
								.review
									.review__photo
										+webp('review__avatar', 'ava', 'png', 'reviewer')
									span.review__name Алексей Манн
									p.review__text Хороший, красивый и удобный мазагин. Был там впервые, понравился персонал, обслуживание, "декор" заведения, весьма привлекательный, приобрела товар по отличной цене и хорошего качества, оформил карту за считанные секунды, теперь буду чаще делать заказы именно там
						.reviews__body.swiper-slide
							.reviews__slider
								.review
									.review__photo
										+webp('review__avatar', 'ava-1', 'png', 'reviewer')
									span.review__name Павел Рязанцев
									p.review__text Посетив данный магазин был рад приветливому персоналу. Также поражает огромный ассортимент. Я думаю здесь можно найти все, как себе так и в подарок близким или друзьям. В следующий раз обязательно останусь там подольше. Насчёт выбора здесь точно все подскажут и покажут правильно и со вкусом для каждого клиента!

					.dots
							


