mixin search()
	.search
		.search__overlay(data-close="true")
			.search__window
				.wrapper.search__wrapper
					.search__body
						.search__form
							form.formSearch
								.formSearch__body
									.formSearch__field
										input.formSearch__input#formSearch-input(type="text" placeholder="Поиск")
										label.hidden(for="formSearch-input") Поиск
										button.button.button_primary.formSearch__button.js-modal-button Найти 
