mixin subscrible()
	section.subscrible
		.wrapper
			.subscrible__body
				.subscrible__header
					h2.title.title_decor.section__title.subscrible__title newsletter
					p.subscrible__subtitle Sign Up to our newsletter and  Save 40% on next Purchase
				.subscrible__form
					form.formSub
						.formSub__body
							.formSub__field
								input.formSub__input#formSub-email(type="email" placeholder="Email")
								label.hidden(for="formSub-email") Email
								button.button.button_primary.formSub__button Subscrible 