mixin subscrible()
	section.subscrible#subscrible
		.wrapper
			.subscrible__body
				.subscrible__header
					h2.title.title_decor.section__title.subscrible__title Подписка
					p.subscrible__subtitle Получите скидку 10% за подписку на наши новости и специальные предложения
				.subscrible__form
					form.formSub
						.formSub__body
							.formSub__field
								input.formSub__input#formSub-email(type="email" placeholder="Email" required)
								label.hidden(for="formSub-email") Email
								button.button.button_primary.formSub__button.js-modal-button Подписаться 